@model AdminViewModel


<!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-secondary rounded d-flex align-items-center p-4">
                            <i class="fa fa-user fa-3x text-primary"></i>
                            <div class="ms-3">
                                <h1 class="text-body mb-2">Hello @Model.FirstName @Model.LastName</p>
                                <h6 class="mb-0">Now you can change webpage.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Users Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Users</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>

                                <tr class="text-white">
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model.Users)
                                {
                                <tr >
                                    <td>@item.Id</td>
                                    <td>@item.FirstName @item.LastName</td>
                                    <td>@item.Email</td>
                                    <td><a class="btn btn-sm btn-primary" href="@Url.Action("Index", "Account", new {email = item.Email})">Info</a></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Users End -->

            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="row g-4">
                        <div class="col-sm-12 col-md-6 col-xl-6 bg-secondary ">
                            <div class="">
                                <h6 class="mb-0">New element on web</h6>
                            </div>
                            <div class="">
                                <form id="form" action="addElement.php" method="post" class="bg-secondary rounded h-100 p-4">
                                        <div class="form-floating mb-3">
                                            <select class="form-select" name="type" id="type"
                                                aria-label="Floating label select example">
                                                <option selected>Open this select menu</option>
                                                <option value="Crypto">Crypto</option>
                                                <option value="Currency">Currency</option>
                                                <option value="Stock">Stock</option>
                                            </select>
                                            <label for="floatingSelect">Element Type</label>
                                        </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="symbol" name="symbol">
                                        <label for="floatingInput">Symbol</label>
                                    </div>

                                    <button type="submit" onclick="signupInfo()"class="btn shadow-none btn-primary py-3 w-100 mb-4" >Add new element</button>
                                </form>
                                <div id="existInfo" class="d-none align-items-center justify-content-center flex-wrap">
                                    <h1>Already exist!</h1>
                                </div>
                                <div id="access" class="alert alert-warning fade collapse" role="alert">
                                <strong>Remember!</strong> this option takes some time.
                                <button type="button"  class="close shadow-none" onclick="hideAllert()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6  bg-secondary">
                            <div class="">
                                <h6 class="mb-0">New admin</h6>
                            </div>
                            <form asp-action="RegisterAdmin" id="adminform" class="bg-secondary rounded  p-4">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="fName" placeholder="jhondoe" asp-for="FirstName">
                                    <label asp-for="FirstName"></label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="lName" placeholder="jhondoe" asp-for="LastName">
                                    <label asp-for="LastName"></label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="eMail" placeholder="name@example.com" asp-for="Email">
                                    <label asp-for="Email"></label>
                                </div>
                                <div class="form-floating mb-4">
                                    <input type="password" class="form-control" id="pass" placeholder="Password" asp-for="Password">
                                    <label asp-for="Password"></label>
                                </div>
                                <div class="form-floating mb-4">
                                    <input type="password" class="form-control" id="pass" placeholder="Password" asp-for="ConfirmPassword">
                                    <label asp-for="ConfirmPassword"></label>
                                </div>
                                <button id="subBtn" type="submit" class="btn shadow-none btn-primary py-3 w-100 mb-4">Add new Admin</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


    <script>
        var form=document.getElementById('form')

    </script>